* {
  background-color: grey;
}

/* Header Styling */

/* Figure Styling */

figure {
  background-color: red;
  width: 60%;
  padding: 50px;
  margin: auto;
}

figcaption {
  background-color: inherit;
}

img {
  width: 100%;
}

p {
  width: 75%;
  margin: auto;
  margin-top: 20px;

  /* font related styling */
  font-family: Perpetua, 'Work Sans';

  font-size: 1em;
}






